<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href="/css/bootstrap.css">
  </head>
  <body>

      
    <% include templates/header.ejs %>
    <% include templates/navbar.ejs %>
      
    <h1><%= title %></h1>
    
    <p>Welcome to <%= name %>'s webpage</p>

  </body>
</html>
