<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->

<% include templates/navbar %>


<section class="login-container">
    <section class="background"></section>
  <div class="login-form">
    <h1 class="text-center mb-3">Sign In</h1>
    <% include templates/messages %>
    
    
    <form action="/users/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <p class="lead mt-4">
      No Account? <a href="/users/register">Register</a>
    </p>
  </div>
</section>

