html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background: #fff; }

.background {
  position: absolute;
  width: 0;
  height: 100vh;
  background: #f0f0f0;
  animation: expand 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: .6s; }

@keyframes expand {
  0% {
    width: 0%; }
  100% {
    width: 69%; } }
.menu {
  position: absolute;
  right: 0;
  font-size: 18px; }

.logo {
  position: absolute;
  left: 0;
  margin: 1.2em;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none !important;
  color: unset !important; }
  .logo p {
    font-size: 2.4em;
    text-align: center;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    transition: all .2s; }

.logo:hover p {
  margin-top: 1em;
  transition: all .2s; }

.content {
  position: absolute;
  width: 440px;
  top: 46%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: left; }

.heading {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 42px; }

.desc {
  font-family: 'Poppins';
  font-weight: lighter; }
  .desc p {
    margin-top: 0px; }

.link {
  padding-top: 1em; }
  .link .sign {
    font-family: 'Poppins';
    border-radius: none;
    padding: 16px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: #74b09c;
    color: #fff;
    transition: all .2s; }
    .link .sign:hover {
      background: #7493b0;
      transition: all .2s; }
  .link .in {
    background: none;
    color: #74b09c;
    outline: dashed 1px #74b09c; }
    .link .in:hover {
      background: none;
      outline: dashed 1.4px #7493b0;
      color: #7493b0;
      transition: all .2s; }

.img img {
  width: 440px; }

.img {
  position: fixed;
  z-index: 0;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  filter: drop-shadow(8px 6px 10px lightgrey); }

.three-blogs {
  position: absolute;
  z-index: 1;
  top: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: #74b09c; }

.login-container {
  background: #7493b0;
  height: 100vh; }
  .login-container .login-form {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left; }
  .login-container .mt-5 {
    margin-top: 0 !important; }

.card {
  background: #f0f0f0 !important;
  font-family: 'Poppins';
  border: none !important;
  border-radius: none; }
  .card .text-center {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }

.links {
  z-index: 1;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: #fff;
  text-align: center;
  opacity: 0.85;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.5);
  height: 100%;
  width: 200px;
  left: 100%;
  padding-top: 80px;
  transform: translateX(100%);
  transition: 0.4s ease-in-out; }
  .links__link {
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    transition: 0.3s ease-in-out;
    padding: 10px 24px 10px 10px;
    display: block; }
  .links li {
    list-style-type: none;
    position: relative;
    transition: 0.3s ease-in-out;
    width: fit-content;
    line-height: 2em;
    text-transform: uppercase;
    position: relative; }
    .links li a {
      color: black;
      text-decoration: none;
      position: relative;
      overflow: hidden; }
      .links li a:hover {
        color: #74b09c;
        transition: all .2s; }
  .links a::before {
    content: '';
    width: 20px;
    position: absolute;
    border-bottom: 1px solid black;
    bottom: 0;
    right: 70%;
    transition: .2s all; }
  .links a:hover::before {
    right: 0; }

#links-checkbox {
  z-index: 2;
  display: block;
  width: 40px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; }

.burger__element {
  display: block;
  position: absolute !important;
  top: 20px;
  right: 12px;
  background-color: #000;
  width: 26px;
  height: 2px;
  margin: 1.2em;
  transition: 0.2s ease-in-out;
  z-index: 1;
  cursor: pointer; }
  .burger__element::before, .burger__element::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000; }
  .burger__element::before {
    top: 10px; }
  .burger__element::after {
    top: -10px; }

#links-checkbox:checked ~ .burger__element {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .burger__element::before {
  width: 20px;
  top: 2px;
  left: -8px;
  transform: rotate(45deg) translateX(5px);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .burger__element::after {
  width: 20px;
  top: 2px;
  left: -12px;
  -webkit-transform: rotate(-45deg) translateX(-5px);
  transform: rotate(-45deg) translateX(12px);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .links {
  transform: translateX(-100%); }

/*# sourceMappingURL=main.css.map */
