html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins'; }

body {
  background: #fff; }

.background {
  position: absolute;
  width: 0;
  height: 100vh;
  background: #f0f0f0;
  animation: expand 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-delay: .6s; }

@keyframes expand {
  0% {
    width: 0%; }
  100% {
    width: 69%; } }
.menu {
  position: absolute;
  right: 0;
  font-size: 18px; }

.logo {
  position: absolute;
  left: 0;
  margin: 1.2em;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none !important;
  color: unset !important; }
  .logo p {
    font-size: 1.4em;
    text-align: center;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    display: inline;
    transition: all .2s; }

.logo:hover p {
  margin-left: 1em;
  transition: all .2s; }

.content {
  position: absolute;
  width: 440px;
  top: 46%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: left; }

.heading {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 42px; }
  .heading span::after {
    content: '';
    width: 30%;
    top: 0;
    position: absolute;
    height: 6px;
    background: #000;
    display: block;
    right: 314px;
    transition: 550ms all;
    margin: 1.55em 0 0 0; }
  .heading span:hover::after {
    right: 0; }

.desc {
  font-family: 'Poppins';
  font-weight: lighter; }
  .desc p {
    margin-top: 16px; }
  .desc a {
    color: #74b09c; }
    .desc a:hover {
      color: #7493b0;
      text-decoration: none; }

.link {
  padding-top: 1em; }
  .link .sign {
    font-family: 'Poppins';
    border-radius: none;
    padding: 16px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    background: #74b09c;
    color: #fff;
    transition: all .2s; }
    .link .sign:hover {
      background: #7493b0;
      transition: all .2s; }
  .link .in {
    background: none;
    color: #74b09c;
    outline: dashed 1px #74b09c; }
    .link .in:hover {
      background: none;
      outline: dashed 1.4px #7493b0;
      color: #7493b0;
      transition: all .2s; }

.img img {
  width: 440px; }

.img {
  position: fixed;
  z-index: 0;
  top: 50%;
  right: 14%;
  transform: translateY(-50%);
  filter: drop-shadow(8px 6px 10px lightgrey); }

.container-fluid {
  background: #f0f0f0;
  background-attachment: fixed;
  background-size: cover; }
  .container-fluid .full-cover {
    height: fit-content;
    display: grid;
    place-items: center; }
    .container-fluid .full-cover .blog-post-index {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      grid-template-areas: 'img content';
      grid-gap: 30px;
      margin-bottom: 2em; }
      .container-fluid .full-cover .blog-post-index .image-container {
        grid-area: img;
        width: 500px;
        overflow: hidden;
        box-shadow: 0 0 7px rgba(128, 128, 128, 0.5); }
        .container-fluid .full-cover .blog-post-index .image-container img {
          width: 100%;
          transition: all .2s ease-out; }
          .container-fluid .full-cover .blog-post-index .image-container img:hover {
            transform: scale(1.2);
            transition: all .4s; }
      .container-fluid .full-cover .blog-post-index .blog-text {
        grid-area: content; }
    .container-fluid .full-cover .blog-post-index:nth-of-type(1) {
      padding-top: 6em; }

.up {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 1.2em;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none !important;
  color: unset !important; }
  .up p {
    text-align: center;
    transition: all .2s; }
  .up:hover p {
    margin-bottom: 2em;
    transition: all .2s; }

.login-container {
  background: url(../images/mock.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .login-container .background {
    background: #B0BBBFe1 !important; }
  .login-container .login-form {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left; }
    .login-container .login-form h1 {
      text-transform: uppercase;
      letter-spacing: 2px; }
    .login-container .login-form input {
      background: none;
      border: none;
      border-bottom: solid 1px black;
      border-radius: 0;
      outline: none; }
      .login-container .login-form input:focus {
        box-shadow: none; }
    .login-container .login-form .btn-primary {
      background: #74b09c;
      border: none;
      border-radius: 0;
      width: fit-content;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: .6em; }
      .login-container .login-form .btn-primary:active, .login-container .login-form .btn-primary:hover, .login-container .login-form .btn-primary:focus {
        background: #7493b0 !important;
        box-shadow: none; }
  .login-container .mt-5 {
    margin-top: 0 !important; }
  .login-container .lead {
    text-transform: uppercase;
    font-size: medium; }
    .login-container .lead a {
      color: black;
      text-decoration: underline; }
      .login-container .lead a:hover {
        color: #74b09c;
        text-decoration: none; }

.card {
  background: none !important;
  font-family: 'Poppins';
  border: none !important;
  border-radius: 0; }
  .card .text-center {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }

.register-container {
  height: 100vh;
  background: url(../images/mock.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .register-container .background {
    background: #B0BBBFe1 !important; }
  .register-container .reg-form {
    position: absolute;
    width: -webkit-fill-available;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left; }
    .register-container .reg-form h1 {
      text-transform: uppercase;
      letter-spacing: 2px; }
    .register-container .reg-form input {
      background: none;
      border: none;
      border-bottom: solid 1px black;
      border-radius: 0;
      outline: none; }
      .register-container .reg-form input:focus {
        box-shadow: none; }
    .register-container .reg-form .btn-primary {
      background: #74b09c;
      border: none;
      border-radius: 0;
      width: fit-content;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: .6em; }
      .register-container .reg-form .btn-primary:active, .register-container .reg-form .btn-primary:hover, .register-container .reg-form .btn-primary:focus {
        background: #7493b0 !important;
        box-shadow: none; }
    .register-container .reg-form .lead {
      text-transform: uppercase;
      font-size: medium; }
      .register-container .reg-form .lead a {
        color: black;
        text-decoration: underline; }
        .register-container .reg-form .lead a:hover {
          color: #74b09c;
          text-decoration: none; }

.home-arrow {
  display: inline; }
  .home-arrow p {
    display: inline;
    margin-left: 1em;
    font-size: 1.4em; }
  .home-arrow:hover p {
    margin-top: 1em;
    transition: all .2s; }

.links {
  z-index: 1;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: #fff;
  text-align: center;
  opacity: 0.85;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.5);
  height: 100%;
  width: 200px;
  left: 100%;
  padding-top: 80px;
  transform: translateX(100%);
  transition: 0.4s ease-in-out; }
  .links__link {
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    transition: 0.3s ease-in-out;
    padding: 10px 24px 10px 10px;
    display: block; }
  .links li {
    list-style-type: none;
    position: relative;
    transition: 0.3s ease-in-out;
    width: fit-content;
    line-height: 2em;
    text-transform: uppercase;
    position: relative; }
    .links li a {
      color: black;
      text-decoration: none;
      position: relative;
      overflow: hidden; }
      .links li a:hover {
        color: #74b09c;
        transition: all .2s; }
  .links a::before {
    content: '';
    width: 20px;
    position: absolute;
    border-bottom: 1px solid black;
    bottom: 0;
    right: 70%;
    transition: .2s all; }
  .links a:hover::before {
    right: 0; }

#links-checkbox {
  z-index: 2;
  display: block;
  width: 40px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; }

.burger__element {
  display: block;
  position: absolute !important;
  top: 20px;
  right: 12px;
  background-color: #000;
  width: 26px;
  height: 2px;
  margin: 1.2em;
  transition: 0.2s ease-in-out;
  z-index: 1;
  cursor: pointer; }
  .burger__element::before, .burger__element::after {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000; }
  .burger__element::before {
    top: 10px; }
  .burger__element::after {
    top: -10px; }

#links-checkbox:checked ~ .burger__element {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .burger__element::before {
  width: 20px;
  top: 2px;
  left: -8px;
  transform: rotate(45deg) translateX(5px);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .burger__element::after {
  width: 20px;
  top: 2px;
  left: -12px;
  -webkit-transform: rotate(-45deg) translateX(-5px);
  transform: rotate(-45deg) translateX(12px);
  transition: 0.3s ease-in-out; }

#links-checkbox:checked ~ .links {
  transform: translateX(-100%); }

/*# sourceMappingURL=main.css.map */
