body {
  padding: 30px;
  scroll-behavior: smooth;
  height: 100vh;
  background: #a05d5d;
}

/* sign up and sign in section */
.user-logon {
  float: right;
}

.user-logon a {
  background: #8bccc3c9;
  color: white;
  border-radius: 1em;
  padding: .4em;
}

.user-logon .first {
  background: #486b69c9;
}

/* navabr */

.navbar {
  background: #a05d5d;
  position: absolute;
  top: 50%;
}
.navbar ul {
  padding: 0;
}
.navbar li {
  padding: 0;
  list-style: none;
  background: yellowgreen;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 1em auto;
}
