<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<input id="links-checkbox" type="checkbox" /><span class="burger__element"></span>
<ul class="links">
  <li><a href="/">Home</a></li>
  <li><a href="/users/login">Sign In</a></li>
  <li><a href="/users/register">Sign Up</a></li>
</ul>