// body {
//     padding: 0;
//     margin: 0;
//     height: 100vh;
//     // overflow: hidden;
// }

// .img-container {
//     height: 40vh;
//     width: 100%;

//     img {
//         position: relative;
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//         object-position: bottom;
//     }
// }

// .main-content {
//     height: 100vh;
//     background-size: contain;
//     background-position: left;
//     background-image: url(../images/mock2-cropped2.jpg);
//     background-repeat: no-repeat;

//     .body-content {
//         clear: both;
//         h1 {
//             text-align: right;
//             padding-right: 2em;
//         }
//         ul {
//             text-align: right;

//             li {
//                 list-style: none;
//             }
//         }        
//     }
// }

// .blog-post-grid {
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     display: grid;
//     grid-gap: 1em;
//     max-width: 80%;
//     margin: 0 auto;
//     .blog-post-index {
//         background: $deepSpace;
//         border-radius: 10px;
//         padding: 1em;
//         h3 {
//             text-align: center;
//         }
//         h3::after {
//             content: '';
//             display: block;
//             height: 1px;
//             background: white;
//             width: 60%;
//             margin: .6em auto;
//         }
//         .image-container {
//             height: 40%;
//             width: auto;
//             img {
//                 height: 100%;
//                 width: 100%;
//             }
//         }
//     }
//     .blog-post-index:nth-of-type(3),
//     .blog-post-index:nth-of-type(2) {
//         grid-column: span 2;
//     }
//     .blog-post-index:nth-of-type(1) {
//         grid-row: span 2;
//     }
// }

// // .img-container::before {
// //     content: '';
// //     position: absolute;
// //     width: 60%;
// //     height: 125px;
// //     bottom: 180px;
// //     left: 0;
// //     background: #9f5c5c;
// //     transform: skewY(10deg);
// //     z-index: 2;
// // }
// // .img-container::after {
// //     content: '';
// //     position: absolute;
// //     width: 60%;
// //     height: 125px;
// //     bottom: 180px;
// //     right: 0;
// //     background: #9f5c5c;
// //     transform: skewY(-10deg);
// //     z-index: 2;
// // }


  
// /* navabr */
// .navbar {
//     // background:
    
//     a {color: white;}   
// }
// .navbar-nav {
//     position: absolute;
//     right: 10px;

//     a {
//         color: black;
//         background: lightblue;
//         margin: 0 1em;
//         border-radius: 10px; 

//     }
//     a::after {
//         content: '';
//         display: block;
//         height: 1px;
//         background: black;
//         width: 20px;
//         margin: .2em auto 0 ;
//     }
    
// }

// // Sign In Page --****
// .primary {
//     height: 100vh;
//     background: linear-gradient(to right, #ffffffc2 50%, #00000000 50%) , url(../images/mock.jpg);
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
//     background-size: cover;

//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
// }

// test page -------*********

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #fff;
}

.background {
    position: absolute;
    width: 0;
    height: 100vh;
    background: #f0f0f0;
    animation: expand 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: .6s;
}

@keyframes expand {
    0% {
        width: 0%;
    }

    100% {
        width: 69%;
    }
}

.menu {
    position: absolute;
    right: 0;
    margin: 2em;
    font-size: 18px;
    
}

.logo {
    position: absolute;
    left: 0;
    margin: 2em;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none !important;
    color: unset !important;

    p {
        font-size: 2.4em;
        text-align: center;
        font-weight: lighter;
        padding: 0;
        margin: 0;
        transition: all .2s;
    }
}

.logo:hover p {
    margin-top: 1em;
    transition: all .2s;
}

.content {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.heading {
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 42px;
}

.desc {
    font-family: 'Poppins';
    font-weight: lighter;
    p {
        margin-top: 0px;
    }
}
.link {
    padding-top: 1em;
    .sign {
        font-family: 'Poppins';
        border-radius: none;
        padding: 16px 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        background: #74b09c;
        color: #fff;
        transition: all .2s; 
        &:hover {
            background: #7493b0;
            transition: all .2s; 
        }
    }
    // sign in button specific
    .in {
        background: none;
        color: #74b09c;
        outline: dashed 1px #74b09c;
        &:hover {
            background: none;
            transition: all .2s; 
            outline: dashed 1px #7493b0;
            color: #7493b0;
        }
    }
}

.img img {
    width: 440px;
}

.img {
    position: fixed;
    z-index: 0;
    top: 50%;
    right: 14%;
    transform: translateY(-50%);
    filter: drop-shadow(8px 6px 10px lightgrey);
}

// Page 2 - scroll down (add 3 blogs from db file)
.three-blogs {
    position: absolute;
    z-index: 1;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: #74b09c;
}


// Login Page ---***
.login-container {
    background: $secondary;
    height: 100vh;

    .login-form {
        position: absolute;
        width: 440px;
        top: 46%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

    .mt-5 {
        margin-top: 0 !important;
    }
}
.card {
    background: $fof !important;
    font-family: 'Poppins';
    border: none !important;
    border-radius: none;

    .text-center {
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
}